// BACKGROUND //

$background-body: #999999dd;
$background-strap: #212020;
$background-strap-before: #c0c0c0;
$background-strap-after: #c0c0c0;
$background-watch: rgb(70, 70, 70);
$background-hand: #efefef;
$background-second: #a84545;
$background-config: #2a2a3094;

// COLORS //

$color-index: #efefef;
$black-details: #141414;
$white-details: #f5f5f5;
$btn-color: #dcdcdc;

// BORDER //
$top-bottom-border-strap: none;
$border-strap: 0.12em solid rgb(0, 0, 0);
$border-radius: 5px;
$border-before: 0.12em solid #3b4547;
$border-after: 0.12em solid #3b4547;
$border-radius-watch: 50%;
$border-crown: 2px solid #3b4547;
$radius-hand: 0.31em;
$radius-configurator: 56px;
$border-configurator: none;
$radius-configurator-before: 56px;
$radius-configurator-after: 56px;
$border-fieldset: none;
$border-button: 1px solid black;
$radius-button: 10px;
$radius-config: 15px;
$color-choice-radius: 50%;
$radius-moon: 100%;
$border-moon: 1px solid #ccc;
$radius-date: 1px;

// HEIGHT //

$height-strap: 55vh;
$height-strap-before: 55vh;
$height-strap-after: 55vh;
$height-watch: 11.25em;
$height-crown: 1.25em;
$height-hour: 2.5em;
$height-minute: 3.75em;
$height-minute: 3.75em;
$height-seconds: 4.37em;
$height-configurator: 60rem;
$height-config: 75px;
$height-moon: 50px;

// WIDTH //

$width-strap: 7.5em;
$width-strap-before: 1.3em;
$width-strap-after: 1.3em;
$width-watch: 11.25em;
$width-crown: 1.25em;
$width-hour: 0.31em;
$width-minute: 0.31em;
$width-seconds: 0.18em;
$width-configurator: 50vh;
$width-config: 70%;
$width-moon: 50px;

// LEFT //

$left-strap: 50%;
$left-strap-before: 60%;
$left-watch: 50%;
$left-crown: calc(50% + 6.56em);
$left-hand: 0;
$left-douze: 5em;
$left-trois: 10.5em;
$left-six: 0.5em;
$left-neuf: 5.4em;
$left-moon: 50%;

// RIGHT //

$right-hand: 0;
$right-strap-after: 60%;
$right-date: 20px;

// TOP //
$top-strap: 50%;
$top-watch: 50%;
$top-crown: 50%;
$top-hour: 3.12em;
$top-minute: 1.87;
$top-seconds: 1.25em;
$top-douze: 0.5em;
$top-trois: 5.1em;
$top-six: 5.1em;
$top-neuf: 10em;
$top-date: 80px;
$top-moon: 72%;

// MARGIN //

$margin-hand: auto;
$margin-top-configurator: 1rem;
$margin-bottom-configurator: 1rem;
$margin-left-configurator: 2rem;
$margin-fieldset: 0;
$margin-bottom-legend: 1rem;

// PADDING //

$padding-configurator: 1.5rem;
$padding-fieldset: 0;
$padding-button: 10px;

// POSITION //

$position-strap: absolute;
$position-background-strap: -0.31em;
$position-strap-before: absolute;
$position-strap-after: absolute;
$position-watch: absolute;
$position-crown: absolute;
$position-hand: absolute;
$position-douze: absolute;
$position-trois: absolute;
$position-six: absolute;
$position-neuf: absolute;
$position-date: absolute;
$position-moon: absolute;
$position-configurator: relative;
$position-configurator-before: absolute;
$position-configurator-after: absolute;

// Z-INDEX //
$z-index-before: -1;
$z-index-after: -1;

// FONT //
$font-size-legend: 1.2rem;
$font-weight-legend: bold;
$font-size-label: 18px;
$font-size-button: 13px;
$font-weight-button: 500;

// GAP //
$gap-fieldset: 1.5rem;
$gap-config: 10px;

// ISOLATION //
$isolation-isolate: isolate;

// BOX-SHADOW //
$box-shadow-configurator: 0px 6px 24px rgba(0, 0, 0, 0.2);
$box-shadow-inset: inset 0 0 19px -8px #ffffff;

// BACKDROP-FILTER //
$backdrop-filter-blur: blur(6px);

// OVERFLOW //
$overflow-hidden: hidden;

// INSET //
$inset-zero: 0;

//------------------- RESPONSIVE -------------------//

// RESPONSIVE BREAKPOINTS //
$breakpoint-mobile: 780px;

// MOBILE CONFIGURATOR //
$height-mobile-configurator: 150px;
$width-mobile-config: 230px;
$height-mobile-config: 85px;
$gap-mobile-configurator: 1em;
$gap-mobile-config: 0.5px;
$padding-mobile-configurator: 0 1em;
$padding-mobile-config: 0.5em;
$margin-mobile-config: 0 10px;
$radius-mobile-config: 15px;

$width-mobile-btn-config: 40px;
$height-mobile-btn-config: 40px;
$height-mobile-strap: 40vh;
$height-mobile-strap-before: 40vh;
$height-mobile-strap-after: 40vh;

// MOBILE COLORS //
$background-mobile-configurator: #aeb0b0;
$background-mobile-config: #727780c1;
$border-mobile-config: 1px solid white;

// MOBILE SHADOWS //
$box-shadow-mobile: 0 -2px 16px rgba(0, 0, 0, 0.08);

// Z-INDEX //
$z-index-mobile: 10;

// COLOR CHOICES //
$width-color-choice: 2.5em;
$height-color-choice: 2.5em;
$gap-colors-container: 15px;
