.date {
  position: $position-date;
  right: $right-date;
  top: $top-date;
  border: 1px solid #999999dd;
  border-radius: $radius-date;
  background-color: $black-details;
  color: $white-details;
}
