.hand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  transform-origin: 50% 100%;
  background-color: $background-hand;
  border-radius: $radius-hand;
}

.hour {
  height: 2.5em;
  width: 0.31em;
  top: 3.12em;
}

.minute {
  height: 3.75em;
  width: 0.31em;
  top: 1.87em;
}

.seconds {
  height: 4.37em;
  width: 0.18em;
  top: 1.25em;
  background-color: $background-second;
}
