button {
  padding: $padding-button;
  border: $border-button;
  border-radius: $radius-button;
  background-color: $black-details;
  color: $btn-color;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.random-btn {
  background-color: rgba(48, 48, 48, 0.628);
  border: none;
}
