.douze {
  position: $position-douze;
  left: $left-douze;
  top: $top-douze;
  color: $color-index;
}

.trois {
  position: $position-trois;
  left: $left-trois;
  top: $top-trois;
  color: $color-index;
}

.six {
  position: $position-six;
  top: $top-six;
  left: $left-six;
  color: $color-index;
}

.neuf {
  position: $position-neuf;
  top: $top-neuf;
  left: $left-neuf;
  color: $color-index;
}
