.moon-phase {
  position: $position-moon;
  left: $left-moon;
  top: $top-moon;
  transform: translate(-50%, -50%);
  border-radius: $radius-moon;
  border: $border-moon;
  width: $width-moon;
  height: $height-moon;
  overflow: $overflow-hidden;
  background-color: #2c2c2c;
  position: relative;

  --moon-offset: -50px;
}

.moon-phase::before {
  display: none;
}

// croissant avec un cercle décalé
.moon-phase::after {
  content: "";
  position: absolute;
  top: -5px;
  right: var(--moon-offset);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e5e5e5;
  z-index: 1;
}

.hemisphere {
  display: none;
}

.light {
  background-color: #f4f6f0 !important;
}

.dark {
  background-color: #2c2c2c !important;
}
